repos:
-   repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
    -   id: black
        args: [--safe]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-docstring-first
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        language_version: python3

-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
        args: [--max-line-length=160]
        language_version: python3

-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.16.0
    hooks:
    -   id: reorder-python-imports
        args: [--application-directories=., --py312-plus]

-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    -   id: pyupgrade
        args: [--py312-plus]

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
    -   id: mypy
        verbose: true
        args: [--ignore-missing-imports]
        additional_dependencies: [
          types-regex==2025.11.3.20251106,
        ]
